* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:"SegoeUI";
    src: url(assets/fonts/segoeUI.woff2);
}
@font-face {
    font-family:"segoesemibold" ;
    src: url(assets/fonts/segoersemibold.woff2);
}
@font-face {
    font-family: "MDF_MDL2";
    src: url(assets/fonts/mwfmdl2-v3.54.woff);
}
@font-face {
    font-family:"MWFFluent";
    src: url(assets/fonts/MWFFluentIcons.woff2);
}
@font-face {
    font-family:"icon";
    src: url(assets/fonts/icon.woff);
}

body{
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "SegoeUI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6; 
}

.header-container{
    display: flex;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
}

.menu-bar {
    display: none;
}

#logo-container {
    overflow-x: visible;
    white-space: normal; 
}

.logo-img {
    margin-top: -3px;
    width: 108px;
    padding: 16px 6px 16px 10px;
    cursor: pointer;
}

#name-container {
    box-sizing: inherit;
    position: relative;
    float: right;
}

#name-container::before {
    padding-left: 24px;
    border-left: 2px solid #000;
    height: 24px;
    content: " ";
    margin-left: 7px;
    position: absolute;
    top: 15px;
    left: 0;
    box-sizing: inherit;
}

.name-text {
    cursor: pointer;
    margin-left: 20px;
    width: auto;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 600;
    color: rgb(38, 38, 38);
    font-family: "segoesemibold", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.hov:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-position: under;
}

#menu-container {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
}
.link {
    border: 1px solid transparent;
    color: #262626;
    cursor: pointer;
    font-size: 13px;
    display: inline-block;
    font-family: "SegoeUI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.menu-link {
    margin: 1px 4px;
    padding: 16px 8px 10px;
    outline-offset: -2px;
}

#menu-button {
    padding: 16px 30px 16px 12px;
    background: transparent;
    margin-right: -6px;
    margin-top: 1px;
}

#menu-button::after{
    font-family: "MDF_MDL2";
    content: "";
    position: absolute;
    font-size: 8px;
    display: inline-block;
    color: currentColor;
    font-weight: 700;
    padding-top: 7px;
    padding-left: 7px;
}

.submenu {
    flex-direction: row;
    border-color: rgba(0, 0, 0, .05) rgba(0, 0, 0, .05) #000;
    margin-top: -2px;
    background: #f2f2f2;
    border-style: solid;
    border-width: 1px 1px 2px;
    list-style: none;
    /* width: 1230px; */
    position: absolute;
    z-index: 1;
}

/* .submenu-item {
     display: flex;
    padding-bottom: 10px;
    vertical-align: top;
} */

.submenu-links {
    /* border: 0 !important;
    position: relative !important;
    left: auto !important;
    right: auto; */
  
}
.submenu-link:first-child{
    text-decoration: none;
    cursor: default;
}
.submenu-link {
    list-style-type: none;
    cursor: pointer;
    white-space: normal;
    font-family: "SegoeUI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.right-head {
    float: right;
}
.right-head .search {
    float: left;
    position: relative;
    height: 38px; 
}

.right-head .search .searchBtn{
    border: none;
    height: 32px;
    white-space: nowrap;
    line-height: 18px;
    margin: 2px 2px 1px 1px;
    top: 0;
    right: 0;
    background: transparent;
    float: left;
    outline: 0;
    padding: 9px;
    cursor: pointer;
}

.right-head .search .searchBtn .search-link{
    line-height: 18px;
    font-family: "segoesemibold", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
}


.right-head .search .searchBtn::after{
    font-family: "icon";
    content: "";
    border: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 2px;
    position: relative;
    text-indent: 0;
    vertical-align: sub;
    line-height: 18px; 
}
.search-tool{
    line-height: 18px;
    white-space: nowrap;
    cursor: pointer;
}
#searchInput {
    background: rgba(255, 255, 255, .2);
    border-color: rgba(0, 0, 0, .7);
    height: 36px 
}
#search-in {
    border: none;
}

.headMenu-container {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    cursor: pointer;
}
.head-menu .header-container li {
    padding: 0;
    margin: 0;
    letter-spacing: normal;
}
.theme {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: 100%;
    overflow: hidden;
    height: 628px;
    position: absolute;
}
.bgImg {
    object-fit: cover;
    width: 100%;
    max-width: inherit;
    border-radius: inherit;
    box-sizing: border-box;
    position: absolute;
}
.theme .img1 {
    vertical-align: middle;
    overflow: clip;
    height: 100%; 
}
.theme .img2 {
    display: none;
}

.theme-container {
    margin: 0px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.them-row {
    display: flex;
    flex-wrap: wrap;
}
.theme-col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
}
.theme-layout{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    flex-wrap: wrap;
    row-gap: 0.5rem;
}
.layout-col {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(calc(100% - calc(1rem*(2 - 1))) / 2);
}
#top-head {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.08em;
    color: rgb(179, 218, 240);
    font-family: "segoesemibold", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#theme-head {
    color: #f4fafd;
    margin: 0;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: -2.4px;
    font-family: "segoesemibold", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#theme-para {
    color: #dceef8;
    margin: 24px 0 0;
    padding-right: 48px;
    font-family: "SegoeUI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: -0.03em;
    font-weight: 400;
}
.theme-btn {
    margin: 32px 0 0;
    box-sizing: border-box;
}
.theme-btns {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.getBtn {
    border: 2px solid transparent;
    cursor: pointer;
    padding: 12px 16px;
    font-weight: 600;
    font-size: .9375rem;
    line-height: 1.375rem;
    letter-spacing: -.02em;
    background-color: #0078d4;
    border-radius: 8px;
    color: #fff;
    height: 24px;
    font-family: "segoesemibold", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.getBtn:last-child {
    border: 2px solid black;
    background-color: transparent;
    color: black;
}

.sticky {
    height: 56px;
    margin: 0;
    top: 0;
    display: flex;
    background-color: #fefefe;
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12),0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
    position: sticky; 
    margin-top: 0px;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 100;
}
 .sticky-nav{
    align-items: center;
    max-width: 1328px;
    height: 56px;
    display: flex;
}
 .dropdown{
    flex-grow: 1;
    display: flex;
    position: relative;
    border-radius: 0;
 }
 .dropdown ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.drop-content{
    margin-top: 16px;
    padding: 0px 0px 4px 0px;
    cursor: pointer;
}

.drop-menu{
    margin-right: 48px;
    flex-direction: column-reverse;
    padding: 0;
    border-radius: 0;
    align-items: start;
    justify-content: space-between;
    display: flex;
    text-decoration: none;
}

 .list-menu{
    padding-bottom: 16px;
    color: #004275;
    white-space: nowrap;
    font-family: "segoesemibold", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 24px;
}

.indicator{
    width: 100%;
    height: 0.25rem;
    color: #004275;
    border-radius: 0.25rem;
    background-color: rgb(0, 66, 117);
}
.sticky-button{
    margin-left: 32px;
    cursor: pointer;
}
.sticky-buttonin{
    color: #fff;
    padding: 8px 16px;
    border: 2px solid;
    font-weight: 600;
    font-size: .9375rem;
    line-height: 1.375rem;
    letter-spacing: -.02em;
    background-color: #0078d4;
    border-radius: 0.5rem;
    text-decoration: none;
}
.sticky-buttonin span{
    padding-bottom: 2px;
    font-weight: 600;
    font-size: .9375rem;
    line-height: 1.375rem;
    letter-spacing: -.02em;
    font-family: "segoesemibold", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.section-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
 .section-img .img2{
    display: none;
}
 .section-img .img3{
    display: none;
}
.drop-head-col{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 16px;
    flex: 0 0 calc(calc(100% - calc(1rem * (1 - 1))) / 1);
}
.drop-head-col span{
    font-family: "segoesemibold", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size:12px;
    line-height: 1rem;
    letter-spacing: 0.08em;
    margin: 0 0 8px;
}
.drop-head-col h2{
    margin: 0;
    font-family: "segoesemibold", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size:32px;
    letter-spacing: -1.6px;
    line-height: 40px;
}
.drop-contents {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
}
.drop-contents-col{
    display: flex;
    flex-direction: column;
    gap: 48px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    width: 100%;
    position: relative;
}
.columns{
    display: flex;
    column-gap: 16px;
    row-gap: 8px;
}
.card{
    background-color: #fefefe;
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12),0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
    border-radius: 24px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 1px;
    word-wrap: break-word;
    flex:0 0 calc(calc(100% - calc(1rem * (3 - 1))) / 3);
}
 .card-media{
    padding: 8px 8px 0;
}
 .card-media img{
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    aspect-ratio: 2.3333;
}
 .card-contents{
    padding: 24px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 1 auto;
    min-width: 1px;
    word-wrap: break-word;
    background-clip: border-box;
    height: 100%;
}
.card-head{
    align-items: flex-start;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.card-head h3{
    margin: 0;
    font-family: "segoesemibold", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.6px;
    line-height: 28px;
}

.card-head .feature{
    padding-right: 24px;
    font-family: "SegoeUI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 24px;
}
 .card-more{
    margin-top: 48px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.card-link{
    color: #004275;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
    text-decoration-line: none;
    gap: 8px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.card-link .icon{
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    border: 2px solid transparent;
    justify-content: center;
    background-color: #0078d4;
    color: #fff;
    border-radius: 8px;
}
.card-link .icon .icon-in{
    display: flex;
    align-items: center;
}
.card-link .icon .icon-in::before{
    content: "";
    font-family: "MWFFluent";
    font-weight: 400;
    line-height: 1;
    box-sizing: border-box;
}
.card-text{
    padding-bottom: 2px;
    font-family: "segoesemibold", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #004275;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.48px;
    line-height: 20px;
}
.droprow-section {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
}
.dropsec-col{
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    width: 100%;
    position: relative;
}
.dropsec-col .col1{
    display: flex;
    flex-direction: column;
}
.dropsec-col .col1 .option{
    margin: 0;
    padding: 0;
    max-width: 100%;
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}
 .drop-tab{
    justify-content: start;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    z-index: 0;
}
.drop-tab button{
    background-color:#0055971a;
    color:#004275; 
    padding: 8px 24px;
    margin-right: 8px;
    font-weight: 600;
    text-decoration: none;    
    white-space: nowrap;
    border-radius: 200px;
    border: none;
}
.drop-tab button span{
    padding-bottom: 2px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.3px;
    font-family: "segoesemibold", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
 .drop-arrow{
    display: none;
  }

@media screen and (max-width:460px){
    .theme-container {
        position: relative;
        padding-right: 16px;
        padding-left: 16px;
    }
    .theme-btn {
        align-items: center;
    }
    .theme-btns{
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .getBtn {
        width: 100%;
        text-align: center;
    }
    .drop-inside {
        padding: 56px 16px; 
    }
    .drop-head-col span{
        margin: 0 0 12px;
    }
    .drop-contents{
        margin-left: 0px;
     }
     .drop-arrow{
        margin-right: 16px;
    } 
}
@media screen and (min-width:460px) and (max-width:860px){
    .theme-container {
        position: relative;
        padding-right: 4rem;
        padding-left: 4rem;
    }
    .drop-inside {
        padding: 56px 64px;
      }
}
@media screen and (max-width:859px){
    header{
        margin-bottom: 34px;
    }
    .header{
        border-bottom:1px solid #e6e6e6;
        padding: 0;
    }
    .header-container{
        position: relative;
        padding: 2px 0;
        margin: 0;
        display: flex; 
        max-width: 1600px;
        height: 100%;
    }
    .main-nav {
        display: none;
    }
    .menu-bar{
        display: block;
        padding: 6px 0 8px;
        margin-top: 0;
        margin-left: 1px;
        width: 48px;
        height: 48px;
        float: left;
        min-width: 0;
        color: #000;
        background: transparent;
        border: none;
        border: solid 1px transparent;
    }
    .menu-bar::before {
        width: 20px;
        height: 20px;
        margin-top: 7px;
        vertical-align: baseline;
        line-height: 15px;
        content: "";
        font-family: "MDF_MDL2";
        font-size: 20px;
        color: #000;
        display: inline-block;
    }
    #logo-container{
        margin: 1px;
        padding: 12px 4px;
        float: none;
        display: block;
        position: absolute;
        left: calc(50% - 60px);
        height: auto;
    }
    .logo-img {
        padding: 0;
    }
    #name-container::before{
        display: none;
    }
 
    #name-container {
        position: absolute;
        top: 54px;
        display: block ;
        margin: -1px 1px 0; 
        padding: 0 15px;
        font-size: 15px;
        font-family: "segoesemibold", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    #name-container::after {
        font-family: "MDF_MDL2";
        content: "";
        font-size: 12px;
        font-weight: 700;
        padding-left: 7px;
        position: relative;
        top: 2px;
        box-sizing: inherit;
        text-align: left;
        display: inline-block;
    }
    .section-theme{
        padding-top: 0;
        padding-bottom: 56px;
        position: relative;
        background: #002948;
        height: 100%
    }
    .theme {
        position: relative;
    }
    .theme-row{
        margin-right: -4px;
        margin-left: -4px;
      }
      .theme-col{
        padding: 0px 4px;
      }
      .theme-layout {
        margin-top: 32px;
        flex-direction: column;
        column-gap: 0.75rem;
      }
      .layout-col {
        flex: 0 0 calc(calc(100% - calc(0.75rem * (1 - 1))) / 1);
      }
      #top-head {
        margin-bottom: 12px;
      }
      #theme-head {
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: -0.05em;
      }
      #theme-para {
        margin: 16px 0px 0px;
        padding-right: 16px;
        line-height: 28px;
        font-size: 18px;
        letter-spacing: -0.54px;
      }
      .theme-btn {
        margin-top: 24px;
      }
      .getBtn {
        padding: 12px;
      }

      .sticky-nav {
        width: 100%;
        height: 60px;
      }
      .drop-section {
        padding:0px;
      }
      .section-img {
        position: absolute;
        right: 0;
        left: 0;
        max-height: 100%;
      }
      .section-img .img2 {
        display: none;
      }
      .section-img .img3 {
        display: block;
        height: auto;
      }
 
      .drop-head {
            display: flex;
            flex-wrap: wrap;
            margin: 0px -4px;
      }
      .drop-head-col{
        padding: 0px 4px;
      }
      .drop-contents{
        margin-top: 32px;
        margin-left: -4px;
      }
      .drop-contents-col{
        padding: 0px 4px;
      }
      .columns{
        flex-direction: column;
      }
      .card {
        border-radius: 16px;
      }
      .card-media img{
        border-radius: 8px;
      }
      .card-contents {
        padding: 16px;
      }
      .card-more{
        margin-top: 32px;
      }
      .card-head {
        gap: 12px;
      }

    .drop-tab button{
        padding: 8px 16px;
        
     }
     .drop-arrow{
         display: block;
         background: white;
         border: 2px solid #004275;
         border-radius: 12.5rem;
         padding: 0;
         width: 40px;
         color: #000;
         position: absolute;
         height: 40px;
         right: -4px;
         top: 0;
         margin: 0;
       }
       .drop-arrow::after{
         font-size: 1.125rem;
         font-weight: 400;
         color: #004275;
         content: "";
         font-family: "MWFFluent";
       }

}
@media screen and (min-width: 860px) {
    .header {
        font-size: 13px;
        height: 54px;
        margin-bottom: 2px;
        padding: 0 5%;
    }
    #logo-container {
        float: left;
        margin-top: 1px;
        width: 137px;
    }
    .name-text{
        float: left;
        margin-top: -2px;
    }
    .main-nav{
        overflow: hidden;
        float: left;
        flex: 1 1 auto;
        white-space: nowrap;
        padding-left: 2px;
        padding-right: 1px; 
    }
    .menu-item {
        display: inline-block;
        word-break: break-word;
    }
    .right-head {
        display: flex;
        flex: none;
        justify-content: flex-end;
    }
    .right-head .search {
        margin-top: 3px;
        max-width: 100%;
        width: auto;
    }
    .right-head .search .searchBtn{
        margin-top: 0;
        padding-top: 15px;
        padding-bottom: 30px;
        width: auto;
        position: relative;
    }

 .head-menu {
        overflow: hidden;
        height: 100%;
        white-space: nowrap;
        padding-left: 2px;
        padding-right: 1px;
    }
    .head-menu .header-container li {
        word-break: break-word;
        display: inline-block;
        box-sizing: inherit;
    }
    li:nth-child(4) .menu {
        background-color: #0078d4;
        color: #fff;
        border: 1px solid rgb(0, 120, 212);
        border-radius: 3px;
        margin-top: 11px;
        height: 15px;
        line-height: 1.5;
        font-weight: 400;
        font-size: 13px;
        letter-spacing: normal;
        display: inline-block;
        padding: 4px 8px 10px;
        outline-offset: -2px;
        text-decoration: none;
    }
    li:nth-child(4) .menu:hover {
        background-color: #004275c0;
    }
    li:nth-child(5) .menu {
        border: 1px solid #000000;
        border-radius: 3px;
        height: 15px;
        margin: 1px 8px;
        margin-top: 11px;
        padding: 4px 8px 10px;
        line-height: 1.5;
        font-weight: 400;
        font-size: 13px;
        letter-spacing: normal;
        color: #262626;
        display: inline-block;
        outline-offset: -2px;
        text-decoration: none;
    }
    .menu {
        border: 1px solid transparent;
        color: #262626;
        display: inline-block;
        margin-top: 1px;
        padding: 16px 8px 10px;
        height: 48px;
        outline-offset: -2px;
        margin-left: 4px;
        margin-right: 4px;
        position: relative;
        letter-spacing: normal;
    }
    .submenu-item {
        display: inline-block;
        float: left;
        padding-bottom: 10px;
        vertical-align: top;
    }
    .submenu-link:first-child{
        font-weight: 600;
        padding-left: 24px;
        padding-top: 18px;
        padding-bottom: 18px;
        font-size: 13px;
    }
    .submenu-link {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 24px;
    }

    .searchbtn-action {
        justify-content: center;
        position: absolute;
        width: 100%;
        
    }
    #searchInput {
        max-width: 1300px ;
        width: 100px;
    }
    #search-in {
        border: none;
        margin-top: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .section-theme {
        padding-top: 6rem;
        padding-bottom: 6rem;
        position: relative;
        background: #002948;
        height: 436px; 
    }
    .theme-row {
        margin: 0px -8px;
    }
    .theme-col {
        padding: 0 8px;
    }
    .theme-layout{
        align-items: center;
        justify-content: initial;
        min-height: 580px;
    }
    .layout-col {
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;
    }
    .drop-section {
        padding: 96px 0px;
        position: relative;
        background: #f4fafd;
    }
    .drop-section:last-child{
        padding: 72px 0;
    }
    .section-img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-height: 100%;
    }
    .drop-head {
        margin: 0px -8px;
    }
    .drop-head-col {
        padding: 0px 8px;
    }
    .drop-contents {
        margin-left: -8px;
    }
    .drop-contents-col{
        padding: 0px 8px;
    }

    }

    @media screen and (min-width:860px) and (max-width:1399px){
        .theme-container{
            max-width: 100vw;
            padding-right: 3.5rem;
            padding-left: 3.5rem;
            margin: 0;
            box-sizing: content-box;
        }
        .sticky{
            height: 66px;
            margin-top: 0px;
        }
        .sticky-nav {
            max-width: 100vw;
            padding-right: 56px;
            padding-left: 56px;
            height: 66px;
        }
        .list-menu {
            font-size: 15px;
            letter-spacing: -0.03em;
            line-height: 1.5rem;
            font-weight: 400;
        }
        .sticky-button{
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
        }
        .sicky-buttonin{
            display: inline-block;
            position: relative;
            justify-content: center;
        }
        .sicky-buttonin span{
            text-align: center;
        }
    }

    @media screen and (min-width:860px) and (max-width:1083px){
        .header{
        padding-left: 24px;
        padding-right: 24px;
        }
        .logo-img{
            padding: 16px 19px 16px 10px; 
        }
        .theme-container {
            max-width: 100vw;
            padding-right: 3.5rem;
            padding-left: 3.5rem;
            margin: 0;
            box-sizing: content-box;
        }
         #theme-head{
            font-size: 2.5rem;
            line-height: 3rem;
            letter-spacing: -0.05em;
        }
        #theme-para{
            font-size: 1.125rem;
            line-height: 1.75rem;
        }
        .section-img .img2 {
            display: block;
        }
        .drop-inside {
            max-width: 100vw;
            padding: 0px 56px;
        }
      
    }
    @media screen and (max-width:1083px){
        .search-link {
            display: none;
        }
        .head-menu{
            display: none;
        }
        .theme .img1 {
            display: none;
        }
        .theme .img2 {
            display: block;
        }
        .section-img .img1{
            display: none;
        }
        .drop-head-col {
            gap: 0;
        }
        .drop-head-col h2{
            font-size: 24px;
           letter-spacing: -1.2px;
           line-height: 32px;
        }
    }
      @media screen and (min-width:540px) and (max-width:860px){
       .theme{
            height: 432px;
            position: relative;
        }
      }
      @media screen and (max-width:540px){
        .theme{
            height: 239.06px ;
            position: relative;
        }
      }

@media screen and (min-width: 1441px) and (max-width: 2598px) {
    .name-text {
        padding: 16px 14px 16px 24px;
    }
    .right-head .search .searchBtn{
        margin-right: 16px;
    }
 li :first-child .menu{
        margin-right: 8px;
    }
    .menu {
        margin: 1px 8px 1px 4px;
    }
 li:nth-child(4) .menu{
     margin: 11px 7px 1px 10px;
 }
 li:nth-child(5) .menu {
    margin: 11px 10px 1px 10px;
 }


}
@media screen and (min-width:1440px){
    .theme-container{
        max-width:1328px;
        padding-right: 72px;
        padding-left: 72px;
        width: 90%;
        box-sizing: content-box;
    }
    .theme-row{
        margin-right: -8px;
        margin-left: -8px;
    }
    .theme-col{
        padding-right: 8px;
        padding-left: 8px;
    }
    .sticky-nav {
        padding-right: 5%;
        padding-left: 5%;
        width: 90%;
        box-sizing: content-box;
        margin-right: auto;
        margin-left: auto;
    }
    .drop-inside {
        max-width: 1328px;
        padding-right: 5%;
        padding-left: 5%;
        width: 90%;
        box-sizing: content-box;
    }
    .droprow-section{
        margin-left: -8px;
     }
     .dropsec-col{
         padding: 0px 8px;
     }
}

@media screen and (min-width: 1441px) and (max-width: 2598px) {
    .drop-inside {
        margin-right: auto;
        margin-left: auto;
    }
}